.contact {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.contact .leftSide {
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .rightSide {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .rightSide h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 10;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

form label {
  margin-top: 15px;
  color: grey;
}

form input {
  height: 40px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
  padding: 5px;
  font-size: 16px;
}

form textarea {
  margin-top: 15px;
  height: 100px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
  padding: 5px;
  font-size: 16px;
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

form input:focus,
textarea:focus {
  outline: none;
}

form button {
  margin-top: 40px;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #121619;
  color: whitesmoke;
  font-size: 15px;
  cursor: pointer;
  align-self: center;
}

@media only screen and (min-width: 768px) {
  .contact {
    flex-direction: row;
    height: 90vh;
  }

  .contact .leftSide {
    height: 100%;
    flex: 1;
  }

  .contact .rightSide {
    flex: 1;
    padding: 50px;
    align-items: flex-start;
  }

  .contact .rightSide h1 {
    font-size: 2.5rem;
    margin-left: 30px;
    text-align: left;
  }

  form {
    padding: 30px;
  }

  form button {
    align-self: flex-start;
  }
}

@media only screen and (min-width: 1200px) {
  .contact .rightSide h1 {
    font-size: 3rem;
  }
}